<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addEmploee</title>
    <link rel="stylesheet" type="text/css" href="/css/empPage.css" />
</head>
<body>
<!--顶部栏-->
<div th:replace="component/box::top"></div>
<!--侧边栏-->
<div th:replace="component/box::left"></div>

<form th:action="@{/emp}" method="post">
    <input type="hidden" name="_method" value="put" th:if="${emp!=null}">
    <input type="hidden" name="id" th:value="${emp.id}" th:if="${emp!=null}">
    姓名：<input type="text" name="name" th:value="${emp!=null}?${emp.name}"><br>
    邮箱：<input type="text" name="email" th:value="${emp!=null}?${emp.email}"><br>
    <button type="submit" th:text="${emp!=null}?'修改':'提交'">提交</button>
</form>

</body>
</html>