<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Emploees</title>
    <link rel="stylesheet" type="text/css" href="/css/empPage.css" />
</head>
<body>
<!--顶部栏-->
<div th:replace="component/box::top"></div>
<!--侧边栏-->
<div th:replace="component/box::left"></div>
<!--添加员工按钮-->
<a th:href="@{/emp}" type="submit">添加</a>
<!--员工列表-->
<table border="1">
    <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>操作</th>
    </tr>
    <tr th:each="user : ${emps}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <a th:href="@{/emp/}+${user.id}">编辑</a>
            <button th:attr="del_uri=@{/emp/}+${user.id}" class="deleteBtn">删除</button>
        </td>
    </tr>
</table>

<form id="deleteEmpFrom" method="post">
    <input type="hidden" name="_method" value="delete">
</form>

<script type="text/javascript" th:src="@{webjars/jquery/3.6.0/jquery.min.js}"></script>
<script>
    $(".deleteBtn").click(function (){
        $("#deleteEmpFrom").attr("action",$(this).attr("del_uri")).submit();
        return false;
    });
</script>
</body>
</html>